<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by ID"
          [(ngModel)]="taskId"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>My Task List</h4>
      <!-- <p *ngIf="tasks < 1">You don't have any tasks. </p> -->
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let task of tasks; let i = index"
        >
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Task ID: {{ task.taskId }}</h5>
                <small>{{ task.date | date}}</small>
            </div>
            <p class="mb-1">{{ task.title }}</p>
            <small>Created by {{task.user.username }}</small>
            <div >
                <a class="badge badge-warning" routerLink="/task/{{ task.taskId }}" >
                    Edit
                </a>
            </div>
        </li>
      </ul>
    </div>
      
    </div>
  