<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="type">Type name:</label>
          <input
            type="text"
            class="form-control"
            id="type"
            required
            [(ngModel)]="type.type"
            name="type"
          />
        </div>
        <button (click)="saveType()" class="btn btn-success">Submit</button>
    </div>
  
    <div *ngIf="submitted">
        <h4>Type was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newType()">Add</button>
    </div>
</div>
</div>